/* variable */
:root{
  --heading_font: 'Alfa Slab One', cursive;
  --body_font: 'Montserrat', sans-serif;
  --subheading_font: 'Bebas Neue', cursive;
}

/* global css code */

img{
  max-width: 100%;
  max-height: 100%;
  /* width: 100%; */
}
input[type="checkbox"]{
  display: none;
}


/* utilites css code */
.container{
  max-width: 1330px;
  width: 95%;
  margin-inline: auto;
}
.text-center{
  text-align: center;
}
.menu-bar-1,
.menu-bar-2,
.close-1,
.close-2{
  display: none;
}
